*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #3836f5;
  --secondary-color: #f87c48;
  --neutral-background-color1: #ecf2ff;
  --neutral-background-color2: #fee7d6;
  --neutral-background-color3: #f2f2f2;
  --neutral-background-color4: #f9f9f9;
  --neutral-background-color5: #e0e0e0;
  --body-text-color: #000;
}

body {
  background-color: var(--neutral-background-color1);
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 40px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
}

h3 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.body-text-large {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: var(menu-header-text-color);
}

.body-text-medium {
  margin: 0;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.body-text-small {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.code-projects-heading {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 930px;
  font-weight: 600;
  text-align: center;
  font-size: 200px;
  letter-spacing: 120px;
  -webkit-text-stroke: 2px var(--primary-color);
  color: var(--neutral-background-color1);
}

.bold-letter {
  color: var(--primary-color);
}

.project-container {
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 105px;
  width: 930px;
  height: 870px;
  background-color: var(--neutral-background-color4);
  border-radius: 20px;
}

.project-content h4 {
  padding: 30px 0 0 0;
  font-weight: 500;
}

.project-content p {
  width: 550px;
}

.project-tools {
  margin: 0;
  padding: 0;
}

.project-tool {
  padding: 3px 0 3px 0;
  text-align: center;
  background-color: var(--neutral-background-color1);
}

.project-links {
  display: flex;
  padding: 30px 0 0 0;
}

.project-links button {
  font-size: 18px;
  margin: 0;
  text-align: center;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
}

.code-button {
  border: 3px solid var(--primary-color);
}

.site-button {
  border: 3px solid var(--secondary-color);
}

.website-link {
  text-decoration: none;
  color: var(--secondary-color);
}
.code-link {
  text-decoration: none;
  color: var(--primary-color);
}

.project-image-main {
  margin: 0 auto;
  width: 870px;
  border-radius: 20px;
}

.sub-image {
  margin: 50px auto;
  width: 250px;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
