*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #3836f5;
  --secondary-color: #f87c48;
  --neutral-background-color1: #ecf2ff;
  --neutral-background-color2: #fee7d6;
  --neutral-background-color3: #f2f2f2;
  --neutral-background-color4: #f9f9f9;
  --neutral-background-color5: #e0e0e0;
  --body-text-color: #000;
}

body {
  background-color: var(--neutral-background-color1);
}

.design-projects-heading {
  margin-bottom: 40px;
  width: 1120px;
  font-weight: 600;
  text-align: center;
  font-size: 200px;
  letter-spacing: 80px;
  -webkit-text-stroke: 2px var(--secondary-color);
  color: var(--neutral-background-color1);
}

.design-bold-letter {
  color: var(--secondary-color);
}

.design-content-container {
  margin: 0 auto;
  width: 1120px;
}

.next-button {
  font-size: 18px;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  background-color: #fff;
}

.next-button-container {
  padding: 0 0 70px 0;
  text-align: right;
}

.next-project-link {
  text-decoration: none;
  color: var(--secondary-color);
}

#bottom-page-button {
  padding: 70px 0 70px 0;
}

.design-project1-background {
  height: 550px;
  background: linear-gradient(to bottom, #248a3d, #b9e6b7);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-images {
  display: inline;
  padding: 0 50px 0 0;
}

.design-project-images ul {
  margin: 0;
  text-align: center;
}

.app-image {
  margin: 60px 0 0 0;
  width: 200px;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.4);
}

.project-name {
  margin: 0;
  font-size: 40px;
  font-weight: 600px;
  text-align: right;
  padding: 40px 60px 30px 0px;
}

.design-background {
  margin: 0 auto;
  padding: 0;
  width: 1120px;
  background-color: rgba(255, 255, 255, 0.6);
}

.design-heading {
  padding: 58px 0 0 0;
  text-align: center;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.project-description {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 17px auto;
  width: 700px;
  text-align: center;
}

.section-heading {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.problem-statement-content .text-content {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  width: 550px;
}

.problem-statement {
  margin: 0px auto;
  padding: 58px 0 0 0;
  width: 930px;
}

.problem-statement-section {
  display: flex;
}

.problem-statement .text-content {
  text-align: justify;
}

.problem-statement-video {
  text-align: center;
}

.spot-buddie-video {
  border-radius: 30px;
}

.video-play {
  padding: 10px 0 0 0;
  font-weight: 600;
  color: #248a3d;
}

.challenges-section {
  margin: 0px auto;
  padding: 40px 0 0 0;
  width: 930px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.challenges-section .text-content {
  text-align: justify;
}

.solution-section {
  margin: 0px auto;
  padding: 40px 0 0 0;
  width: 930px;
  font-size: 18px;
}

.solution-section ul {
  list-style-type: disc;
  text-align: justify;
}

.project-info {
  margin: 0 auto;
  padding: 40px 0 0 0;
  width: 930px;
}

.project-duration-heading,
.project-tools-heading,
.icon-section-heading {
  font-size: 18px;
}

.duration-number,
.screen-number {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

.project-duration-days,
.project-sreens {
  text-align: center;
  font-size: 15px;
}

.tools-used-icon {
  margin: 0;
  padding: 0;
  width: 50px;
}
.tools-used-image {
  margin: 0;
  padding: 0;
}

.tools-used-photopea-icon {
  margin: 0;
  padding: 0;
  width: 60px;
}

.image-label {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.spot-buddie-desktop {
  margin: 0 auto;
  padding: 40px 0 0 0;
  text-align: center;
}

.interface-background {
  width: 1120px;
  height: 1100px;
  background-color: var(--neutral-background-color3);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.interface-section-heading p {
  padding: 100px 0 0 0;
  text-align: center;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.UI-section-heading {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.logo-items {
  padding: 60px 60px 0 60px;
}

.logo-item-image {
  margin: 30px 0 0 30px;
  width: 150px;
}

.color-palette {
  padding: 60px 60px 0 60px;
}

.color-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.color-circle1 {
  background-color: #d9d9d9;
}

.color-circle2 {
  background-color: #8e8e93;
}

.color-circle3 {
  background-color: #007aff;
}
.color-circle4 {
  background-color: #5ca059;
}
.color-circle5 {
  background-color: #248a3d;
}
.color-circle6 {
  background-color: #c93400;
}

.color-group {
  margin: 30px 0 0 30px;
}

.typography-section {
  padding: 60px 60px 0 60px;
}

.font-19 {
  padding: 0 0 10px 0;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
}

.font-17 {
  padding: 0 0 10px 0;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.font-12 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.font-name {
  font-size: 24px;
}

.font-letter {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.app-icons-section {
  padding: 60px 60px 0 60px;
}

.app-icons {
  margin: 30px auto;
}

.app-icons ul li {
  display: inline;
  padding: 0 50px 0 0;
}

.disclaimer {
  margin: 50px auto;
  font-size: 15px;
  text-align: center;
  width: 500px;
}

/*Design project 2*/

.previous-button {
  font-size: 18px;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  background-color: #fff;
}

.previous-project-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.previous-button-container {
  padding: 0 0 70px 0;
}

.design-project2-background {
  height: 550px;
  background: linear-gradient(to bottom, #3836f5, #ecf2ff);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.portfolio-main-image {
  display: block;
  margin: 0 auto;
  padding: 80px 0 0 0;
  width: 500px;
}

.project2-name {
  margin: 0;
  font-size: 40px;
  font-weight: 600px;
  text-align: right;
  padding: 30px 60px 0px 0px;
}

.design-projects-display {
  margin: 0 auto;
  padding: 90px 0 100px 0;
  text-align: center;
}

.design-project-display-image {
  margin: 0 auto;
  padding: 0px 0 0 0;
  width: 400px;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.25);
}

.design-projects-desktop-display {
  display: inline;
  padding: 0 50px 0 0;
}

.design-projects-display ul li {
  list-style-type: none;
}

.color-project2-circle1 {
  background-color: #fee7d6;
}

.color-project2-circle2 {
  background-color: #f87c48;
}

.color-project2-circle3 {
  background-color: #ecf2ff;
  border: 1px solid #e0e0e0;
}
.color-project2-circle4 {
  background-color: #3836f5;
}
.color-project2-circle5 {
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
}
.color-project2-circle6 {
  background-color: #f9f9f9;
}
.color-project2-circle7 {
  background-color: #e0e0e0;
}
.color-project2-circle8 {
  background-color: #4b4b4b;
}

.font-40 {
  padding: 0 0 5px 0;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.font-35 {
  padding: 0 0 5px 0;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.font-24 {
  padding: 0 0 5px 0;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.font-20 {
  padding: 0 0 5px 0;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.font-15 {
  padding: 0 0 5px 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.font-12 {
  padding: 0 0 5px 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.font-name {
  font-size: 24px;
}

.font-letter {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.app-icons-section {
  padding: 60px 60px 0 60px;
}

.app-icons {
  margin: 30px auto;
}

.app-icons ul li {
  display: inline;
  padding: 0 50px 0 0;
}

.interface2-background {
  width: 1120px;
  height: 1150px;
  background-color: var(--neutral-background-color3);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 767px) {
  .design-projects-heading {
    margin-top: 50px;
    font-size: 85px;
    letter-spacing: 10px;
    width: 350px;
  }

  .design-content-container {
    margin: 0 auto;
    width: 350px;
  }

  .next-button {
    font-size: 15px;
    width: 130px;
    height: 30px;
    border-radius: 30px;
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    background-color: #fff;
  }

  .design-project1-background {
    width: 350px;
    height: 270px;
  }

  .main-images {
    padding: 0 10px 0 0;
  }

  .app-image {
    margin: 40px 0 0 0;
    width: 90px;
  }
  .project-name {
    font-size: 24px;
    text-align: center;
    padding: 20px 20px 30px 0px;
  }

  .design-background {
    width: 350px;
  }

  .design-heading {
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }

  .project-description {
    font-size: 15px;
    margin: 17px auto;
    width: 300px;
    text-align: center;
  }

  .section-heading {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .problem-statement-content .text-content {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    width: 300px;
  }

  .problem-statement {
    margin: 0px auto;
    padding: 58px 0 0 0;
    width: 300px;
  }

  .problem-statement-section {
    display: flex;
    flex-direction: column;
  }

  .problem-statement .text-content {
    text-align: justify;
  }

  .problem-statement-video {
    margin-top: 20px;
    text-align: center;
  }

  .spot-buddie-video {
    border-radius: 30px;
    width: 180px;
  }

  .video-play {
    padding: 10px 0 0 0;
    font-weight: 600;
    color: #248a3d;
  }

  .challenges-section {
    margin: 0px auto;
    padding: 40px 0 0 0;
    width: 300px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
  }

  .challenges-section .text-content {
    text-align: justify;
  }

  .solution-section {
    margin: 0px auto;
    padding: 40px 0 0 0;
    width: 300px;
    font-size: 12px;
  }

  .solution-section ul {
    list-style-type: disc;
    text-align: justify;
  }

  .project-info {
    margin: 0 auto;
    padding: 40px 0 0 20px;
    width: 350px;
  }

  .project-duration-heading,
  .project-tools-heading,
  .icon-section-heading {
    font-size: 15px;
    font-weight: 600;
  }

  .duration-number,
  .screen-number {
    text-align: center;
    font-size: 24px;
  }

  .project-duration-days,
  .project-screens {
    text-align: center;
    font-size: 12px;
  }

  .project-tools {
    margin-left: 10px;
  }

  .project-tools-heading {
    margin-top: 30px;
  }

  .tools-used-icon {
    width: 30px;
  }

  .tools-used-photopea-icon {
    width: 40px;
  }

  .tools-used-image {
    font-size: 12px;
  }

  .spot-buddie-desktop {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .desktop-version {
    width: 300px;
  }

  .interface-background {
    width: 350px;
    height: 1250px;
  }

  .interface-section-heading p {
    padding: 60px 0 0 0;
    font-size: 18px;
    font-weight: 600;
  }

  .UI-section-heading {
    font-size: 16px;
  }

  .logo-items {
    padding: 10px 10px 0 30px;
  }

  .logo-item-image {
    margin: 10px 0 20px 30px;
    width: 80px;
  }

  .color-palette {
    padding: 10px 10px 0 30px;
  }

  .color-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .color-group {
    margin: 30px 0 30px 30px;
  }

  .typography-section {
    padding: 10px 10px 0 30px;
  }

  .font-name {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
  }

  .font-letter {
    margin-left: 30px;
    font-size: 24px;
  }

  .app-icons-section {
    padding: 30px 10px 0 30px;
  }

  .app-icons {
    margin: 30px auto;
    width: 250px;
  }

  .app-icons ul li {
    display: inline;
    padding: 0 50px 0 0;
  }

  .custom-icon {
    width: 50px;
  }

  .disclaimer {
    margin: 30px auto;
    font-size: 12px;
    text-align: center;
    width: 300px;
  }

  #bottom-page-button {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px 0 0px 0;
  }

  /*Design project 2*/

  .previous-button {
    font-size: 18px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    background-color: #fff;
  }

  .previous-project-link {
    text-decoration: none;
    color: var(--secondary-color);
  }

  .previous-button-container {
    padding: 0 0 70px 0;
  }

  .design-project2-background {
    height: 550px;
    background: linear-gradient(to bottom, #3836f5, #ecf2ff);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .portfolio-main-image {
    display: block;
    margin: 0 auto;
    padding: 80px 0 0 0;
    width: 500px;
  }

  .project2-name {
    margin: 0;
    font-size: 40px;
    font-weight: 600px;
    text-align: right;
    padding: 30px 60px 0px 0px;
  }

  .design-projects-display {
    margin: 0 auto;
    padding: 90px 0 100px 0;
    text-align: center;
  }

  .design-project-display-image {
    margin: 0 auto;
    padding: 0px 0 0 0;
    width: 400px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.25);
  }

  .design-projects-desktop-display {
    display: inline;
    padding: 0 50px 0 0;
  }

  .design-projects-display ul li {
    list-style-type: none;
  }

  .app-icons {
    margin: 30px auto;
  }

  .app-icons ul li {
    display: inline;
    padding: 0 50px 0 0;
  }

  .interface2-background {
    width: 800px;
    height: 1150px;
    background-color: var(--neutral-background-color3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
