:root {
  --primary-color: #3836f5;
  --secondary-color: #f87c48;
  --neutral-background-color1: #ecf2ff;
  --menu-footer-text-color: #ecf2ff;
}

footer {
  background-color: var(--primary-color);
  height: 404px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1120px;
}

ul li .menu-option {
  font-size: 18px;
  text-decoration: none;
  color: var(--neutral-background-color1);
}

ul {
  list-style: none;
}

.footer-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 103px 0 0 0;
  gap: 236px;
}

.footer-links-list-3 ul {
  margin: 0 0;
  padding: 0;
  display: flex;
  gap: 51px;
}

.footer-links-list-1 ul,
.footer-links-list-2 ul {
  margin: 0 0;
  padding: 0;
  line-height: 45px;
}

.author {
  display: flex;
  font-size: 15px;
  justify-content: center;
  padding: 40px 0 0 0;
  color: var(--neutral-background-color1);
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  .footer-links-container {
    margin: 0 auto;
    padding: 40px 20px 0 20px;
    width: 100%;
    gap: 30px;
  }

  .footer-links-list-3 a {
    font-size: 13px;
  }

  .footer-links-list-3 ul {
    flex-direction: column;
    gap: 30px;
    text-align: right;
  }

  ul li .menu-option {
    font-size: 16px;
  }

  .author {
    font-size: 12px;
    padding: 60px 0 0 0;
  }

  footer {
    height: 350px;
  }
}
