:root {
  --primary-color: #3836f5;
  --secondary-color: #f87c48;
  --neutral-background-color1: #ecf2ff;
  --menu-footer-text-color: #ecf2ff;
}

footer {
  background-color: var(--primary-color);
  height: 404px;
}

.wrapper {
  margin: 0 auto;
  max-width: 931px;
}

ul li .menu-option {
  text-decoration: none;
  color: var(--neutral-background-color1);
}

ul {
  list-style: none;
}

.footer-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 103px 0 0 0;
  gap: 236px;
}

.footer-links-list-3 ul {
  margin: 0 0;
  padding: 0;
  display: flex;
  gap: 51px;
}

.footer-links-list-1 ul,
.footer-links-list-2 ul {
  margin: 0 0;
  padding: 0;
  line-height: 45px;
}

.author {
  display: flex;
  font-size: 15px;
  justify-content: center;
  padding: 40px 0 0 0;
  color: var(--neutral-background-color1);
}
