*,
*:: after,
*:: before {
  box-sizing: border-box;
}

:root {
  --primary-color: #3836f5;
  --secondary-color: #f87c48;
  --neutral-background-color1: #ecf2ff;
  --neutral-background-color2: #fee7d6;
  --neutral-background-color3: #f2f2f2;
  --neutral-background-color4: #f9f9f9;
  --neutral-background-color5: #e0e0e0;
  --menu-header-text-color: #4b4b4b;
  --menu-footer-text-color: #ecf2ff;
  --body-text-color: #00000;
}

body {
  background-color: var(--neutral-background-color1);
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 40px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
}

h3 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

p .body-text-large {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: var(menu-header-text-color);
}

.body-text-medium {
  margin: 0;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

p .body-text-small {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.hero-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1120px;
  height: 527px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--neutral-background-color2);
}

.hero-text {
  margin-top: 160px;
  padding: 0 0 0px 0;
  max-width: 500px;
  height: 291px;
  text-align: right;
}

.hero-profile-image {
  margin-top: 60px;
  max-height: 467.24px;
  max-width: 480px;
}
.author-name {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
}

.hero-text h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #818181;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.hero-text .body-text-medium {
  margin-top: 0 auto;
  padding: 20px 0 20px 0;
}

.hero-text .large-button {
  margin: 0;
  width: 250px;
  height: 50px;
  background-color: var (--neutral-background-color1);
  border-radius: 30px;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 20px;
}

.key-info,
.initial {
  color: var(--primary-color);
}

.content-background {
  margin: 0 auto;
  padding: 0;
  width: 1120px;
  background-color: rgba(255, 255, 255, 0.6);
}

/*About section*/

.about-container {
  margin: 0 auto;
  padding: 80px 0 20px 0;
  width: 930px;
}

.about-content {
  padding: 0px 0 0 0;
  text-align: right;
}

.about-content h2 {
  margin: 0;
  font-weight: normal;
  font-size: 40px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
}

.sub-heading {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 18px;
  color: var(--secondary-color);
}

.about-content .about-content-body {
  font-size: 18px;
  margin: 0;
  padding: 0 0 12px 0;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 60px 0px;
  background-color: var (--neutral-background-color2);
}

.about-section-profile-image {
  width: 224px;
  height: 270.76px;
  box-shadow: 30px 30px 0px 0px var(--secondary-color);
}

.medium-button {
  font-size: 18px;
  width: 170px;
  height: 36px;
  border-radius: 30px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  background-color: #fff;
}

/*technical skills section*/

.technical-skills-container {
  margin: 0px auto;
  padding: 80px 0 20px 0;
  width: 930px;
}

.technical-skills-container h2 {
  margin: 0;
  font-weight: normal;
  font-size: 40px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
}

.t-s-container {
  margin: 0 auto;
  max-width: 930px;
}

.t-s-container2 {
  margin: 0 auto;
  padding: 32px 0 0 0;
  max-width: 930px;
}

.technical-skill {
  padding: 3px 0 3px 0;
  text-align: center;
  background-color: var(--neutral-background-color5);
}

/*soft skills section*/

.soft-skills-container {
  margin: 0 auto;
  width: 930px;
  padding: 80px 0 20px 0;
}

.soft-skills-container p {
  margin: 0;
  padding: 10px 0 0 0;
}

.soft-skills-container #heading-text {
  margin: 0;
  padding: 22px 0 0 0;
}

.soft-skills-container h4 {
  font-size: 20px;
  text-decoration: underline;
}

/*experience section*/

.experience-container {
  margin: 0 auto;
  padding: 80px 0 80px 0;
  width: 930px;
}

.experience-container h2 {
  text-align: center;
  color: var(--secondary-color);
}

.experience-container p {
  text-align: center;
  font-size: 20px;
}

.gallery-images {
  margin-top: 20px;
  width: 435px;
  border: 10px solid var(--neutral-background-color3);
  border-radius: 10px;
}

.experience-button {
  padding: 40px 0 0 0;
  text-align: right;
}

/*contact section*/

.contact-container {
  margin: 0px auto;
  margin-bottom: 105px;
  width: 1120px;
  height: 459px;
  justify-items: center;
  align-items: center;
  background-color: #ffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.1);
}

.contact-container p {
  padding: 160px 0 0 0;
  font-size: 40px;
}
